{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Welcome</title>
{% endblock meta %}

{% block content %}

{% if user.is_authenticated %}
    
    <div class="jumbotron" style="text-align: center; margin: auto; width: 50%; margin-top: 10px;">
        <h2>Welcome, {{ user.get_username }}. you've become one of us.</h2>
    </div>
{% else %}
    <div class="jumbotron" style="text-align: center; margin: auto; width: 50%; margin-top: 10px;">
        <h2>Not one of us.</h2>
    </div>
{% endif %}


{% endblock %}