{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>About You!</title>
{% endblock meta %}

{% block content %}

    {% if username == 'putin' %}
        <div class="container" style="text-align: center; margin: auto; margin-top: 10px; align-items: center;">
            <a href="https://youtu.be/EEvopkbc4FE">One of us</a>
        </div>

    {% elif username == 'jimmy' %}
        <div class="container" style="text-align: center; margin: auto; margin-top: 10px; align-items: center;">
            <a href="https://youtu.be/yBLdQ1a4-JI">One of us</a>
        </div>
    {% endif %}
    
{% endblock %}